.header{
  background: url("https://picsum.photos/320/200?random=1&blur=2") no-repeat;
  background-size: cover;
}

.header__title{
  padding: 31px;
  font-size: 45px;
  margin: 0;
  color: #fff;
  text-shadow: 3px 3px #000;
  letter-spacing: 1px;
}